@media screen and (max-width: 1200px) {
  .header .container {
    justify-content: center;
  }

  .nav {
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
  }

  .menu-item {
    margin: 0 5px;
  }

  .main-header {
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
  }

  .main-sections {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
    gap: 20px 20px;
    padding: 20px 0;
  }
  .code {
    font-size: 1.9vb;
  }

  .footer .container {
    padding: 30px 10px;
    justify-content: center;
  }
}


@media screen and (max-width: 1100px) {
  .name {
    font-size: 30px;
  }

  .orient {
    font-size: 24px;
  }

  .main-image {
    width: 25%;
    min-width: 25%;
    margin-left: 100px;
  }

  .code {
    font-size: 1.9vb;
  }
}

@media screen and (max-width: 900px) {
  .main-header {
    padding: 20px 40px;
    border-bottom: 5px solid #9b9b97;
  }

  .name {
    font-size: 26px;
  }

  .orient {
    font-size: 24px;
    left: 30px;
  }

  .main-image {
    margin-left: 50px;
  }

  .main-sections {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 20px;
    padding: 20px 0;
  }

  .footer .container {
    padding: 20px 10px;
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 15px 0;
  }

  .item {
    font-size: 16px;
  }

  .name {
    font-size: 26px;
  }

  .orient {
    font-size: 24px;
    left: 30px;
  }

  .main-image {
    margin-left: 30px;
  }
}

@media screen and (max-width: 700px) {
  .main-image {
    margin-left: 20px;
  }

  .present {
    letter-spacing: 5px;
    word-spacing: 2px;
    line-height: 45px;
  }

  .name {
    font-size: 22px;
    margin-bottom: unset;
  }

  .orient {
    font-size: 18px;
    left: 20px;
  }
}

@media screen and (max-width: 600px) {

  .header .container {
    justify-content: space-evenly;
  }

  .portfolio {
    margin: 0;
  }
  .main-header {
    padding: 20px 30px;
  }
  .navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    padding: 40px;
    background: #9b9b97;
    transition: .5s;
    z-index: 2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .navigation .nav {
    flex-direction: column;
    align-items: center;
  }
  .navigation .nav .menu-item .item{
    font-size: 28px;
  }

  .navigation.open {
    transform: translateX(-100%);
    z-index: 3;
  }

  .burger {
    display: flex;
  }

  .close {
    display: block;
    transition: .3s;
  }
  .close:hover {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 500px) {
  .main-header {
    padding: 20px 20px;
  }

  .present {
    letter-spacing: 3px;
    line-height: 40px;
  }

  .name {
    font-size: 20px;
    margin-bottom: unset;
  }

  .orient {
    font-size: 16px;
    left: 20px;
  }
  .section h2 {
    font-family: RobotoBold, sans-serif;
    font-size: 26px;
    padding-left: unset;
    text-align: center;
  }
  .code {
    font-size: 1.8vb;
  }
}

@media screen and (max-width: 400px) {
  .item {
    font-size: 8px;
  }

  .main-header {
    padding: 20px 5px;
  }

  .present {
    letter-spacing: 2px;
    line-height: 30px;
  }

  .name {
    font-size: 16px;
    margin-bottom: unset;
  }

  .orient {
    font-size: 14px;
    left: 10px;
  }

  .code {
    font-size: 1.4vb;
  }

  .footer .container {
    padding: 10px 10px;
    font-size: 24px;
  }
}

@media screen and (max-width: 350px) {
  .code {
    font-size: 1.2vb;
  }
}